

/*keep footer always on bottom end*/

.handle-counter { overflow: hidden; }

.handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {
  /* float: left; */
  text-align: center;
}

.handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }

.handle-counter input {
  width: 50px;
  height: 45px;
  border-width: 1px;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
