th{
  text-align: center;
}
th.table-action{
  width: 200px;
}
.table{
  margin-top: 25px
}
tbody tr:hover{
  background-color:  #ddb681;
}
td{
  text-align: center;
}
.uang{
  width: 125px;
}
.col{
  margin-bottom: 15px;
}
.btn{
  margin-bottom: 2px;
}
tfoot{
  font-weight: bold;
}
